body {
    min-width: 1000px;
}

.App > section {
    padding: 0 50px 50px 50px;
}

#refresh-location-button {
    margin-top: 10px;
}

.weather-icon {
    width: 50px;
    height: 50px;
}

.temperature-at-favorite {
    display: flex;
    align-items: center;
    font-size: 30pt;
    padding: 0;
    margin: 0;
}

.favorite-title {
    font-size: 30pt;
    padding: 0;
    margin: 0;
    word-break: break-word;
}